.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.close_button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.login-content {
    display: flex;
}

.form-section {
    flex: 1;
    padding: 30px;
}

.text {
    color: #f08b21;
    font-size: 28px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputs {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 15px;
}

.login-btn {
    background: #f08b21;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.create-account {
    font-weight: bold;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #f08b21;
    padding-bottom: 2px;
}

.account-policy {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.image-section {
    flex: 1;
    background: #a0c147;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-section img {
    width: 100%;
    max-width: 200px;
}
.register_button{
    margin: auto;
    width: 100x;
    height: 40px;
    border:2px solid #f08b21;
    border-radius: 25px;
    background-color: #f08b21;
    color: white;
}

