@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pop-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-wrapper {
  width: 1467px;
  height: 910px;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 1467px;
  height: 910px;
  background-color: var(--secondery-color);
  border-radius: 80px;
  box-shadow: 0px 0px 20px #00000050;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.white-square {
  width: 978px;
  height: 910px;
  background-color: var(--bg-color);
  border-radius: 80px;
  box-shadow: inset -5px 0px 20px #00000020;
  display: flex;
}

.container {
  width: calc(100% - 255px);
  margin-left: 85px;
  margin-right: 260px;
  padding-top: 130px;
  flex-wrap: wrap;
}

.title-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 73px;
  color: var(--accent-color);
  text-align: left;
  width: 100%;
}

.input-layout {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.form-input {
  font-family: "DM Sans", sans-serif;
  outline: none;
  width: 100%;
  border-radius: 36px;
  padding: 0 20px;
  font-size: 1.5em;
  line-height: 60px;
  background: transparent;
  border: 3px solid #808080;
  transition: 0.1s ease;
  z-index: 1111;
}

.form-input:hover {
  border: 3px solid var(--accent-color);
}

.label {
  text-align: left;
  top: 11px;
  left: 20px;
  font-family: "DM Sans", sans-serif;
  position: absolute;
  font-size: 2em;
  background-color: var(--bg-color);
  padding: 0 2px;
  color: #808080;
  transition: 0.2s ease-in-out;
  pointer-events: none;
  border-radius: 20px;
}

.form-input:focus,
.form-input:valid {
  color: var(--accent-color);
  border: 3px solid var(--accent-color);
}

.form-input:focus + .label,
.form-input:valid + .label {
  font-weight: 600;
  color: var(--accent-color);
  top: -10px;
  left: 30px;
  font-size: 1em;
  z-index: 1111;
}

.entry-btn{
  width: 100%;
  display: flex;
  max-height: 100%;
  justify-content: flex-end;
}

.switch-text {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  padding-bottom: 10px;
  color: #808080;
}

.switch-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 85px;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  z-index: 10;
  padding: 0;
}

.close-icon {
  width: 30px;
  height: 30px;
  stroke: var(--secondery-color);
  stroke-width: 4;
  stroke-linecap: round;
}

.close-btn:hover {
  box-shadow: 0px 0px 20px #00000020;
}

.close-btn:active {
  background-color: var(--secondery-color);
}

.modal-overlay {
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background: transparent;
  border-radius: 10px;
}